body{
    text-align: justify;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}


* {
    padding: 0px;
    margin: 0px;
}

#header {
    margin: auto;
    width: 500px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

ul, ol {
    list-style: none;
}

.menu li a {
    background-color:#005883;
    color: #ffffff;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}

.menu li a:hover {
    background-color: #434343;
}

.menu > li {
    float: left;
}

.menu li ul {
    display: none;
    position: absolute;
    min-width: 140px;
}

.menu li:hover > ul {
    display: block;
}

.titulo{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 70px;
}

.tabla{
    width: 95%;
    margin: 40px;
}

.subtitulo {
    text-align: justify;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 28px;
    background-color: #005883;
    color: #ffffff;
}